*.mp3
*.csv
Dataset
embedding_model_cache
*.csv
processed_audio
Problem Definition & Data Preprocessing.docx
.augmentignore 
.venv
processed_audio.zip
Audio_Preprocessing.ipynb
archive (1).zip
Dataset.zip
phase2_data.zip
processed_with_embeddings.csv.zip
phase2_data
scripts
.DS_Store